header {
    background-color: royalblue;
    align-items: center;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    color: white;
}

body {
    background-color:lightgray;
}



main {
    box-shadow: 5px 5px 5px darkgrey;
    align-content: center;
    background-color: white;
    margin:10px auto;
    width: 90%;
    padding:10px;
    border-radius: 15px;
}

h2 {
    color: white;
    background-color: royalblue;
    text-align: center;
}

li {
    margin-bottom: 10px; /* Adjust spacing as needed */
}
.buttons { align-items: center; text-align: center;}
.buttons button {
    align-items: center;
    text-align: center;
    color: white;
    background-color: royalblue;
}